# Pandas Datareader

# READ THIS FIRST:


### THE STOCK APIS ARE OFTEN CHANGING DUE TO COMPANIES SUCH AS GOOGLE AND YAHOO CHANGING THEIR API ASPECT DUE TO A VARIETY OF FACTORS. CHECK THE PANDAS DATAREADER WEBSITE TO GET INFORMATION ON THE LATEST APIS, SINCE THIS WILL HAVE THE LATEST INFORMATION

## https://pandas-datareader.readthedocs.io/en/latest/

----
** NOTE: Not every geographical location works well with pandas datareader, your firewall may also block it!**

---

Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:

* Yahoo! Finance
* Google Finance
* Enigma
* St.Louis FED (FRED)
* Kenneth Frenchâ€™s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

It should be noted, that various sources support different kinds of data, so not all sources implement the same methods and the data elements returned might also differ.

In [2]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2015, 1, 1)

end = datetime.datetime(2017, 1, 1)

# try 'yahoo' if Google doesn't work. make sure to check the website mentioned above
# search QA forums if you have any issues on this, many questions have already been answered there!
facebook = web.DataReader("FB", 'yahoo', start, end)

In [3]:
facebook.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-01-02  78.930000  77.699997  78.580002  78.449997  18177500  78.449997
2015-01-05  79.250000  76.860001  77.980003  77.190002  26452200  77.190002
2015-01-06  77.589996  75.360001  77.230003  76.150002  27399300  76.150002
2015-01-07  77.360001  75.820000  76.760002  76.150002  22045300  76.150002
2015-01-08  78.230003  76.080002  76.739998  78.180000  23961000  78.180000

### Experimental Options

# NOTE: Google has currently disable this. Check out pandas-datareader online docs for the latest information.

The Options class allows the download of options data from Google Finance.

The get_options_data method downloads options data for specified expiry date and provides a formatted DataFrame with a hierarchical index, so its easy to get to the specific option you want.

Available expiry dates can be accessed from the expiry_dates property.

In [6]:
from pandas_datareader.data import Options

fb_options = Options('FB', 'yahoo')

ImmediateDeprecationError:
Yahoo Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [5]:
data = fb_options.get_options_data(expiry=fb_options.expiry_dates[0])

NameError: name 'fb_options' is not defined

In [10]:
data.head()

                                            Last     Bid     Ask  Chg  PctChg  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  149.10  150.00  150.65  0.3    0.20
                  put  FB180119P00005000    0.01     NaN    0.03  0.0    0.00
10.0   2018-01-19 call FB180119C00010000  143.20  145.05  145.75 -0.5   -0.35
                  put  FB180119P00010000    0.01     NaN    0.02  0.0    0.00
15.0   2018-01-19 call FB180119C00015000  135.80  140.10  140.80  0.0    0.00

                                           Vol  Open_Int Root  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  50.0    9528.0   FB
                  put  FB180119P00005000   NaN    3053.0   FB
10.0   2018-01-19 call FB180119C00010000  40.0    2855.0   FB
                  put  FB180119P00010000   NaN    2056.0   FB
15.0   2018-01-19 call FB180119C00015000   NaN     240.0   FB

                                          Underlying_Price  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000            155.27
                  put  FB180119P00005000            155.27
10.0   2018-01-19 call FB180119C00010000            155.27
                  put  FB180119P00010000            155.27
15.0   2018-01-19 call FB180119C00015000            155.27

                                                         Quote_Time
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000 2017-07-11 23:35:24.466303
                  put  FB180119P00005000 2017-07-11 23:35:24.466303
10.0   2018-01-19 call FB180119C00010000 2017-07-11 23:35:24.466303
                  put  FB180119P00010000 2017-07-11 23:35:24.466303
15.0   2018-01-19 call FB180119C00015000 2017-07-11 23:35:24.466303

# FRED

In [11]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [12]:
gdp.head()

                GDP
DATE
2010-01-01  14681.1
2010-04-01  14888.6
2010-07-01  15057.7
2010-10-01  15230.2
2011-01-01  15238.4