# Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c': 100}

In [5]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
#Â ci pensa lui ad usare le key come index
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [11]:
ser1 = pd.Series([1,2,3,4], index=['USA', 'CHINA', 'FRANCE', 'GERMANY'])

In [12]:
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,3,4], index=['USA', 'CHINA', 'ITALY', 'JAPAN'])

In [14]:
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [17]:
ser2['JAPAN'] #uso gli indici che ho a disposizione

4

In [18]:
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64